<div class="blog-post">
  {{#link-to 'post' this}}<h2 class="blog-post-title">{{kind}}: {{title}}</h2>{{/link-to}}
  <p class="blog-post-meta">{{updatedAt}} by <a>{{authorName}}</a></p>

  {{body}}
</div>
