<h3>Recent Events</h3>

<ul>
  {{#each filteredList}}
    <li>
      User {{actorName}} {{activity}}:
      {{#if linkable}}
        {{#link-to 'post' post}}[{{post.kind}}]: {{post.title}}{{/link-to}}
      {{else}}
        a post
      {{/if}}
    </li>
  {{/each}}
</ul>

{{outlet}}
